alabaster==0.7.12
appdirs==1.4.4
argh==0.26.2
asgiref 
astroid==2.5.2
async-generator==1.10
atomicwrites==1.4.0
attrs 
autopep8 
Babel 
backcall 
bcrypt 
black==19.10b0
bleach 
brotlipy==0.7.0
certifi==2020.12.5
cffi 
chardet 
click 
cloudpickle 
colorama 
coloredlogs==15.0
cryptography 
decorator 
defusedxml 
diff-match-patch 
Django==3.1.7 
django-tables2==2.3.4
django-test-without-migrations==0.6
docutils==0.16
entrypoints==0.3
Faker==4.0.0
flake8 
future==0.18.2
httplib2==0.19.1
humanfriendly 
idna 
imagesize 
importlib-metadata 
intervaltree 
ipykernel 
ipython 
ipython-genutils 
isort 
jedi 
Jinja2 
jsonschema 
jupyter-client 
jupyter-core 
jupyterlab-pygments 
keyring 
lazy-object-proxy 
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
mixer==7.0.6
mypy-extensions==0.4.3
mysqlclient==2.0.3
nbclient 
nbconvert 
nbformat 
nest-asyncio 
numpy==1.19.5
numpydoc 
oauth2==1.9.0.post1
packaging 
pandas==1.1.5
pandocfilters 
paramiko 
parso==0.7.0
pathspec==0.7.0
pexpect 
pickleshare 
pluggy==0.13.1
prompt-toolkit 
psutil 
psycopg2 
ptyprocess 
pycodestyle 
pycparser 
pydocstyle 
pyflakes 
Pygments 
pylint 
pylint-plugin-utils==0.6
pyls-black 
pyls-spyder 
PyNaCl 
pyOpenSSL 
pyparsing 
pyreadline==2.1
pyrsistent 
PySocks 
python-dateutil 
python-jsonrpc-server 
python-language-server 
pytz 
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==20.0.0
QDarkStyle==2.8.1
QtAwesome 
qtconsole 
QtPy==1.9.0
regex 
requests 
rope
selenium==3.141.0
six 
snowballstemmer 
sortedcontainers 
Sphinx 
sphinxcontrib-applehelp 
sphinxcontrib-devhelp 
sphinxcontrib-htmlhelp 
sphinxcontrib-jsmath 
sphinxcontrib-qthelp 
sphinxcontrib-serializinghtml 
spyder 
spyder-kernels 
spyder-terminal==0.3.0
sqlparse 
suds-jurko==0.6
tablib==3.0.0
terminado==0.9.2
testpath 
text-unidecode==1.3
textdistance 
three-merge 
toml 
tornado 
traitlets==4.3.3
typed-ast 
typing-extensions 
ujson 
urllib3 
watchdog 
wcwidth 
webencodings==0.5.1
win-inet-pton 
wincertstore==0.2
wrapt==1.12.1
yapf 
zipp 
