{% load static %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Currency Values</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="{% static 'assets/img/favicon.JPG' %}" rel="icon">

  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">

  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>

<body>

  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center">

      <a href="index"><img class="header_img" src="{% static 'assets/img/amsbio_logo.png' %}" alt="amsbio_logo"></a>


      <nav class="nav-menu d-none d-lg-block">

        <ul>
          <li><a href="index">Home</a></li>

          <li class="drop-down"><a href=" ">Database</a>
            <ul>
              <li><a href="AddNewSupplier">Add New Supplier</a></li>
              <li><a href="Search">Search Products</a></li>
              <li><a href="EditSingleProduct">Edit Single Product</a></li>
              <li><a href="similarProducts/3011-100">Similar Products</a></li>
              <li><a href="CurrencyValues">Currency Values</a></li>
            </ul>
          </li>
          <li class="drop-down"><a href="#">Courier</a>
            <ul>
              <li class="drop-down"><a href="#">FedEx</a>
                <ul>
                  <li><a href="../Courier/FedexUK">FedEx UK</a></li>
                  <li><a href="../Courier/FedexUSA">FedEx USA</a></li>
                </ul>
              </li>
              <li><a href="../Courier/DHL">DHL</a></li>
            </ul>
          </li>
        </ul>

      </nav>

    </div>
  </header>

  <main id="main">

    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Currency Values</h2>
          <ol>
            <li><a href="index">Home</a></li>
            <li>Currency Values</li>
          </ol>
        </div>

      </div>
    </section>

    <section id="testimonials" class="testimonials">
      <div class="container">
        <div style="text-align:right; margin-top: 5px;">
          <a href="{% querystring '_export'='csv' %}">Download CSV</a>
        </div>
        <div class="row" style="box-shadow: 0 8px 20px rgba(0,0,0,0.15);">
          <div class="col-md-12 border border-secondary rounded">
            <!-- renders the currency table as received from myDatabase/tables.py  -->
            {% render_table obj %}
          </div>
        </div>
      </div>
    </section>

  </main>

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>

  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>