{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Edit Single Product</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="{% static 'assets/img/favicon.JPG' %}" rel="icon">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">

  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>

<body>

  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center">

      <a href="index"><img class="header_img" src="{% static 'assets/img/amsbio_logo.png' %}" alt="amsbio_logo"></a>


      <nav class="nav-menu d-none d-lg-block">

        <ul>
          <li><a href="index">Home</a></li>

          <li class="drop-down"><a href=" ">Database</a>
            <ul>
              <li><a href="AddNewSupplier">Add New Supplier</a></li>
              <li><a href="Search">Search Products</a></li>
              <li><a href="EditSingleProduct">Edit Single Product</a></li>
              <li><a href="CurrencyValues">Currency Values</a></li>
            </ul>
          </li>
          <li class="drop-down"><a href="#">Courier</a>
            <ul>
              <li class="drop-down"><a href="#">FedEx</a>
                <ul>
                  <li><a href="../Courier/FedexUK">FedEx UK</a></li>
                  <li><a href="../Courier/FedexUSA">FedEx USA</a></li>
                </ul>
              </li>
              <li><a href="../Courier/DHL">DHL</a></li>
            </ul>
          </li>
        </ul>

      </nav>

    </div>
  </header>

  <main id="main">

    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Edit Single Product</h2>
          <ol>
            <li><a href="index">Home</a></li>
            <li>Edit Single Product</li>
          </ol>
        </div>

      </div>
    </section>

    <section id="testimonials" class="testimonials">
      <div class="container text-center" style="margin-bottom: 20px;">
        <div class="row">
          <div class="col-md-12">
            <form method="POST">
              {% csrf_token %}
              <div class="form-group row" style="padding-left: 25%; padding-right: 25%;">
                <div class="input-group col-sm-12">
                  <div class="input-group-prepend">
                    <div class="input-group-text">Product Code</div>
                  </div>
                  <input type="text" name="ProdCode" id="ProdCode" placeholder="Search" class="form-control">
                  <div class="input-group-append">
                    <button class="btn btn-danger" name="btnSubmitCode">Submit</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div >
      {% if flag %} <!--Output if proper product code is not entered-->
        <div class="container" style="text-align: center;">
            <i>{{msg}}</i>
        </div>
      {% else %}
        {% if nocategory %} <!--Output if no categories are defined-->
          <div class="row" style="padding-top: 10px; border-radius: 5px; background-color: #fafafa; width:85%; margin:auto;">
            <div id="prodform_container" class="col-md-6"> <!--Output only the Edit Product form-->
              <form id='ProdForm' method="POST">
                {% csrf_token %}
                <div class="form-group row" style="text-align: center; margin-bottom: 20px;">
                  <div class="col-sm-12">
                    <button class="btn btn-primary" disabled>Product Details</button>
                  </div>
                </div>
                {% for field in ProdForm %}
                  <div class="form-group{% if field.errors %} invalid{% endif %} row">
                    <label for="{{ field.id_for_label }}" class="col-sm-4 col-form-label">{{ field.label }}:</label>
                    <div class="col-sm-8">
                      {{ field }}
                    </div>
                    {% for error in field.errors %}
                      <p class="help-block">{{ error }}</p>
                    {% endfor %}
                  </div>
                {% endfor %}
                <button type="submit" class="btn btn-danger" id="btnProdForm" style="margin:auto; display:block; padding-top: 10px; margin-bottom: 10px;">Submit</button>
              </form>
            </div>
            <div class="col-md-6" style="padding: 2%; padding-left: 20%;"> <!--Display message for no categories-->
              <button class="btn btn-danger">{{NoTechCategory}}</button> 
            </div>
          </div>
          {% else %} <!--Output if categories are defined-->
          <div class="row" style="padding-top: 10px; border-radius: 5px; background-color: #fafafa; width:88%; margin:auto;">
            <div id="prodform_container" class="col-md-6" style="padding-right: 5%;"> <!--Output the Edit Product form-->
              <form id='ProdForm' method="POST">
                {% csrf_token %}
                <div class="form-group row" style="text-align: center; margin-bottom: 20px;">
                  <div class="col-sm-12">
                    <button class="btn btn-primary" disabled>Product Details</button>
                  </div>
                </div>
                {% for field in ProdForm %}
                <div class="form-group{% if field.errors %} invalid{% endif %} row">
                  <label for="{{ field.id_for_label }}" class="col-sm-4 col-form-label">{{ field.label }}:</label>
                  <div class="col-sm-8">
                    {{ field }}
                  </div>
                  {% for error in field.errors %}
                    <p class="help-block">{{ error }}</p>
                  {% endfor %}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-danger" style="margin:auto; display:block; padding-top: 10px; margin-bottom: 10px;">Submit</button>
              </form>
            </div>
            <div id="techform_container" class="col-md-6" style="padding-left: 5%;"> <!--Output the Edit Tech form-->
              <form id='TechForm' method="POST">
                {% csrf_token %}
                <div class="form-group row" style="text-align: center; margin-bottom: 20px;">
                  <div class="col-sm-12">
                    {% if catflag %}
                      <button class="btn btn-primary" disabled>{{cat1}}, {{cat2}}</button>
                    {% else %}
                      <button class="btn btn-primary" disabled>{{cat1}}</button>
                    {% endif %}
                  </div>
                </div>
                {% for field in TechForm %}
                  {% if field.id_for_label in attrs %}
                  <div class="form-group{% if field.errors %} invalid{% endif %} row">
                    <label for="{{ field.id_for_label }}" class="col-sm-4 col-form-label">{{ field.label }}:</label>
                    <div class="col-sm-8">
                      {{ field }}
                    </div>
                    {% for error in field.errors %}
                      <p class="help-block">{{ error }}</p>
                    {% endfor %}
                  </div>
                  {% endif %}
                {% endfor %}
                <button type="submit" class="btn btn-danger" style="margin:auto; display:block; padding-top: 10px; margin-bottom: 10px;">Submit</button>
              </form>
            </div>
          </div>
          {% endif %}
        </div>  
      {% endif %}
    </section>


  </main>


  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>

  <script src="{% static 'assets/js/main.js' %}"></script>
  
</body>

</html>