{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>AMSBIO - IntraNet</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="{% static 'assets/img/favicon.JPG' %}" rel="icon">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">

  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>

<body>

  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <a href=" "><img class="header_img" src="{% static 'assets/img/amsbio_logo.png' %}" alt="amsbio_logo"></a>

      <nav class="nav-menu d-none d-lg-block">

        <ul>
          <li><a id="home" href=" ">Home</a></li>

          <li id="database_drop_down" class="drop-down"><a href=" ">Database</a>
            <ul>
              <li><a id="add_new_supplier" href="myDatabase/AddNewSupplier">Add New Supplier</a></li>
              <li><a id="search_db" href="myDatabase/Search">Search Products</a></li>
              <li><a id="edit_single_product" href="myDatabase/EditSingleProduct">Edit Single Product</a></li>
              <li><a id="simlr_prod" href="myDatabase/similarProducts/3011-100">Similar Products</a></li>
              <li><a id="currency_ex" href="myDatabase/CurrencyValues">Currency Values</a></li>
            </ul>
          </li>
          <li class="drop-down"><a href="#">Courier</a>
            <ul>
              <li class="drop-down"><a href="#">FedEx</a>
                <ul>
                  <li><a href="../Courier/FedexUK">FedEx UK</a></li>
                  <li><a href="../Courier/FedexUSA">FedEx USA</a></li>
                </ul>
              </li>
              <li><a href="../Courier/DHL">DHL</a></li>
            </ul>
          </li>
        </ul>

      </nav>
    </div>
  </header>

  <main id="main">


    <section id="about" class="about" style="margin-top: 3% !important;">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-12">
            <form action="myDatabase/Search" method="POST" id="form1">
              {% csrf_token %}
              <div class="form-group row" style="margin-bottom: 3%; margin-left: 75px; margin-top:2%;">
                <label for="Prod" class="sr-only">Search by Product Code: </label>
                <div class="input-group col-sm-5">
                  <div class="input-group-prepend">
                    <div class="input-group-text">Product Code</div>
                  </div>
                  <input type="text" id="Prod" name="Prod" placeholder="Database Search" class="form-control">
                </div>
                <label for="Prod" class="sr-only">Search by Description:</label>
                <div class="input-group col-sm-5">
                  <div class="input-group-prepend">
                    <div class="input-group-text">Description</div>
                  </div>
                  <input type="text" id="Desc" name="Desc" form="form1" placeholder="Database Search" class="form-control">
                </div>
                <div class="col-sm-2" style="text-align: left;">
                  <button id="btn_search_db" class="btn btn-danger" form="form1"><strong>Go</strong></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row" style="width: 80%; margin:auto; margin-top: 2% !important;">
        <div class="col-md-4" style="text-align: left;">
          <button class="btn icofont-filter" id="filter" data-toggle="modal" data-target="#filterData"></button>
          <button class="btn icofont-search-2" id="Search" data-toggle="modal" data-target="#SearchData"></button>
        </div>
        <div class="col-md-4" style="text-align: center;">
          <h4>Magento Sales Orders</h4>
        </div>
      </div>
      <!-- Modal Section begins-->
      <div class="modal fade" id="filterData" tabindex="-1" role="dialog" aria-labelledby="filterDataLabel" aria-hidden="true">
        <!-- Renders Filter Button -->
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <p class="modal-title" id="filterDataLabel"><strong>Filter by 'Order Creation' date</strong></p>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12">
                  <form method="POST" id="form2">
                    {% csrf_token %}
                    <div class="form-group row">
                      <label for="from_date" class="col-sm-3 col-form-label">From:</label>
                      <div class="col-sm-9">
                        <input type="text" placeholder="YYYY-MM-DD" id="from_date" name="from_date" class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="to_date" class="col-sm-3 col-form-label">To:</label>
                      <div class="col-sm-9">
                        <input type="text" placeholder="YYYY-MM-DD" id="to_date" name="to_date" class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">  
                      <label for="status" class="col-sm-3 col-form-label">Status:</label>
                      <div class="col-sm-9">
                        <select name="status" id="status" form="form2" class="form-control">
                          <option value="None" selected>ALL</option>
                          <option value="pending">Pending</option>
                          <option value="processing">Processing</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="number_of_orders" class="col-sm-3 col-form-label">Num of orders: </label>
                      <div class="col-sm-9">
                        <input type="number" id="number_of_orders" name="number_of_orders" placeholder="20" form="form2" class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-12" style="text-align: center;">
                        <button type="submit" class="btn btn-danger" form="form2">Submit</button>
                      </div>
                    </div> 
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="SearchData" tabindex="-1" role="dialog" aria-labelledby="SearchDataLabel" aria-hidden="true">
        <!-- Renders Search Button -->
        <div class="modal-dialog" role="document" style="width: 400px;">
          <div class="modal-content">
            <div class="modal-header">
              <p class="modal-title" id="SearchDataLabel"><strong>Search by 'Order ID'</strong></p>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12">
                  <form method="POST" id="form3">
                    {% csrf_token %}
                    <div class="form-group row">
                      <label for="order_id" class="col-sm-3 col-form-label">Enter ID:</label>
                      <div class="col-sm-7">
                        <input type="text" placeholder="Order ID" id="order_id" name="order_id" class="form-control">
                      </div>
                      <div class="col-sm-2" style="margin-left: -1em;">
                        <button type="submit" class="btn btn-danger" form="form3" >Go</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal Section ends-->
      {% if messages %} <!-- Prints success message when a shipment is created -->
        {% for message in messages %}
          <div class="alert alert-success" role="alert" style="width: fit-content; margin-bottom: 1% !important; margin:auto;" id="shipment_msg">{{ message }}</div>
        {% endfor %}
      {% endif %}
      {% if flag %}
      <div class="content" style="width:80%; margin:auto;">
        <div class="row" style="margin-top: -0.2%;">
          <div class="col-md-12" style="text-align: left; overflow-x:auto; white-space:nowrap; border-radius:5px;">
            <!-- Generated the main Magento Sales order table as received from homepage/views.py/index() -->
            <table class="table table-striped roundedTable" id="magento_orders">
              <tr style="background-color: #f1594a; color:#fff;">
                <th>#</th>                
                {% for ele in col_headers %}
                  {% if ele == "Base Currency Code"%}
                    <th>Base Curr</th>
                  {% elif ele == "Increment Id"%}
                    <th>Order ID</th>
                  {% else %}
                    <th>{{ele}}</th>
                  {% endif %}
                {% endfor %}
              </tr>
              {% for ele in response %}
              <tr>
                <td><strong>{{ forloop.counter }}</strong></td>
                {% for key, val in ele.items %}
                  <td>{{val}}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
      {% else %}
      <!-- Handles error if wrong Order ID is entered in Search feature -->
      <div class="container" style="margin-top: -0.2%; text-align:center;">
        {{msg}}
      </div>
      {% endif %}
    </section>

  </main>

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>

  <script src="{% static 'assets/js/main.js' %}"></script>

  <script type="text/javascript">
    // Moves column from one place to another, done in JS 'cause JS is faster than Python! :X
    jQuery.moveColumn = function (table, from, to) {
      var rows = jQuery('tr', table);
      var cols;
      rows.each(function() {
          cols = jQuery(this).children('th, td');
          cols.eq(from).detach().insertBefore(cols.eq(to));
      });
  }
    var tbl = jQuery('table');
    jQuery.moveColumn(tbl, 6, 1);
    jQuery.moveColumn(tbl, 7, 2);
    jQuery.moveColumn(tbl, 7, 4);
  </script>

  <script type="text/javascript">
    // Makes the Order ID in the Magento table clickable and further provides options to create Shipments
    var table = document.getElementById("magento_orders");
    for (var i = 1, row; row = table.rows[i]; i++) {
      var id = row.cells[1].innerHTML;
      var full_name = document.querySelector("#magento_orders > tbody > tr:nth-child(1) > th:nth-child(7)");
      full_name.innerHTML = 'Customer Name';
      row.cells[1].innerHTML = `<button style="border: none; background: none; padding: 0; color: #dc3545;" data-toggle="modal" data-target='#viewData${i}' id='viewOrder${i}' value='${id}'>${id}</button>
      <div class="modal fade" id="viewData${i}" tabindex="-1" role="dialog" aria-labelledby="viewData${i}Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content" id="modal${id}">
            <div class="modal-header">
              <p class="modal-title"><strong>Update Shipment</strong></p>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="modalbody${id}">
              <div class="row">
                <div class="col-md-6" id="shipping${id}" style="margin-bottom: 2px;">
                  <em><h5>Shipping Details</h5></em>
                  <div class="spinner-border m-5 text-info" role="status" id="spinner${id}">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <!-- Data comes from Ajax call -->
                </div>
                <div class="col-md-6" id="item_name${id}" style="margin-bottom: 2px;">
                  <em><h5>Items Ordered</h5></em>
                  <div class="spinner-border m-5 text-info" role="status" id="spinnerItem${id}">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <!-- Data comes from Ajax call -->
                </div>
              </div>
              <div class="row" style="margin-top: 15px;">
                <div class="col-md-12" id="orderprocessing${id}">
                  <form method="POST" id="form4${id}">
                    {% csrf_token %}
                    <div class="form-group row">
                      <div class="input-group col-sm-12">
                        <div class="input-group-prepend">
                          <div class="input-group-text">Add comment</div>
                        </div>
                        <input type="hidden" name="reference_id" value="${id}">
                        <textarea type="text" id="comment" name="comment" class="form-control" style="height: 45px;"></textarea>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <input type="checkbox" id="notify" name="notify" value="true">
                        <label for="notify">Notify Customer by Email?</label>
                      </div>
                      <div class="col-md-6" style="text-align: right;">
                        <button class="btn btn-danger" type="submit">Process Order</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>`;
      var firstname = row.cells[6].innerHTML;
      var lastname = row.cells[7].innerHTML;
      row.cells[6].innerHTML = firstname + ' ' + lastname;
    }
    for (var i = 0, row; row = table.rows[i]; i++) {
      row.deleteCell(7);
    }
  </script>

</body>

</html>